@import '../bower_components/materialize/sass/materialize.scss';
@import '../bower_components/toastr/toastr.scss';

%horizontal-align {
	position: relative;
	left: 50%;
	 -webkit-transform: translateX(-50%);
	 -moz-transform: translateX(-50%);
	 -ms-transform: translateX(-50%);
	 -o-transform: translateX(-50%);
	 transform: translateX(-50%);
}

$primary-grey: darken(#FAFAFA, 35%);

body {
	background-color: #F2F2F2;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

#content {
	&.side-nav-open {
		@include translate(70px,0);
	}
}

.nav-items {
	width: 200px;
	display: block;
}

.nav-item {
	float: left;
}

.menu-button {

	width: 72px;
  display: inline-block;
  text-align: center;
  cursor: pointer;

	i {
		color: $primary-color-light;
		font-size: 25px;
	}
}

nav .brand-logo {
	font-size: 1.5rem;
	font-weight: 200;
}

.search-field {
	@include flexbox();
	margin: auto;
	width: 50%;
}

.search-input-container {
	@include flex(1);
	@include flexbox();
  border-radius: 2px;
  height: 32px;
  background-color: #FFCCBC;
  align-self: center;
}


.error-container {
	@extend %horizontal-align;
}

input.search-input {
	margin: 0;
	height: auto;
	padding: 0;
	border-bottom: none;
	transition: all 3s;
	box-shadow: none;

	&:focus:not([readonly]), &:active {
		border-bottom: none;
		box-shadow: none;
	}

	&.invalid {
		transition: none;
	}

	/*& + label {
		left: 0;
		color: #9e9e9e;
  		position: absolute;
  		top: -.25rem;

  		& i {
  			font-size: 1.75rem;
  			@include transition(color .3s);
  		}

  		&.active i {
  			color: $primary-color-light;
  		}
  	}*/
}

.search-label {
	padding: 0 5px;
}

.left-items {
	min-width: 200px;
	display: block;
}

nav .nav-wrapper {
	@include flexbox();

	.mdi-action-search {
		line-height: 32px;
		font-size: 1.6rem;
		color: #FFF;
	}
}

.log-in-form {
	display: inline-block;

	input {
		height: auto;
		width: 125px;
	}
}

.login-section {
	float: left;
	display: inline-block;
}

.form-button {
	padding: 0 30px;
	color: $primary-color;
}

.content-wrapper {
	&.side-nav-open {
		margin-left:70px;
	}
}

.push-wrapper {
	&.open {
		@include translate3d(215px,0,0);
	}
}
.side-nav-menu {
	background: none;
	color: $primary-grey;
	font-weight:600;
	width: 215px;
	height: auto;
	bottom: 0;
	left: 0;
	top: 56px;
	overflow-y: scroll;
	position: fixed;
	box-shadow: none;
	@include translate3d(-100%,0,0);
	@include transition(transform 0.15s ease-in-out);

	&.side-nav-open {
		visibility: visible;
		@include translate3d(0,0,0);
		@include transition(transform 0.15s ease-in-out);
	}

	hr {
		width: 75%;
	}
}

.menu-block {
	.hidden {
  		@include translate3d(-47px,0,0);
  		display: none;
  	}
}

.menu-block > li {
  width: 100%;
  padding-left: 16px;
  cursor: pointer;
  float: none;
  position: relative;

  .material-icons {
  	font-size: 1.5rem;
  	line-height: inherit;
	}

	a {
		color: $primary-grey;
		padding: 0 15px 0 30px;
	}

	input {
		background: none;
		border: none;
		outline: none;
		width: calc(100% - 23px);
		box-sizing: border-box;
	}
  
}


.list-star {
 	float: left;
}

.list-delete {
	position: absolute;
	right: 0;
	top: 0;
	display: none;

	&:hover {
		color: $primary-color;
	}
}

.nav-wordlist {
	position: relative;

	&:hover {
		.list-delete {
			display: block;
		}
	}
}

.menu-items-container {
	padding: 16px 8px 0;
}

.wordrow {
	@extend .row;
	margin-bottom: 0;

	&:last-of-type {
		.userword {
			border-bottom: none;
		}
	}
}

.wordlist-container {
	margin: 0.5rem 0 1rem 0;
}

.wordlist-header {
	margin-left: 4%;
	font-size: .9rem;
	color: $primary-grey;
}

.wordlist {

	&.collapsible {
		margin-top: .6rem;
	}

}

.wordListed {
	overflow: hidden;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}

.row .wordListed {
	padding: 7px;
}

.search-result {
	@extend %horizontal-align;

	.card-title {
		@extend .grey-text, .text-darken-4;
		font-size: 3rem;
	}

	.card-action a {
		color: $primary-color-dark;
		font-weight: 600;

		&:hover, &:active {
			color: $primary-color-light
		}
	}
}

.words-link {
	position: relative;

	&:before {
		content: attr(data-wordcount);
		font-size: .75rem;
		font-weight: 200;
		position: absolute;
		left: -1rem;
	}
}

.confirm-delete-div {
	position: absolute;
	padding-left: 1rem;
	top: 0;
	opacity: 0;
}

.icon-delete {
	color: $success-color;
}

.cancel-delete-icon {
	display: inline-block;
	color: $error-color;
	font-size: 2rem;
	-webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-weight: 400;
}

.new-list-input-container {
	position: relative;	
}

.new-list-icon {
	position: absolute;
}

.nav-menu-new-list {
	padding: 0 15px 0 30px;
}

.word-expanded {
	background-color: white;
}

.wordtitle {
	@extend .grey-text, .text-darken-4;
	min-width: 150px;
	float: left;
	display: block;
	margin-right: 20px;
	text-align: center;
}

.word-circle {
	display: block;
	float: left;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	font-size: 10px;
	line-height: 22px;
	text-align: center;
	background-color: #294F8A;;
	color: white;
}

.worddefinition {
	margin-left: 50px;
	float: left;
	font-size: 12px;
}

