@import '../bower_components/materialize/sass/materialize.scss';

%horizontal-align {
	position: relative;
	left: 50%;
	 -webkit-transform: translateX(-50%);
	 -moz-transform: translateX(-50%);
	 -ms-transform: translateX(-50%);
	 -o-transform: translateX(-50%);
	 transform: translateX(-50%);
}

body {
	background-color: #FAFAFA;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.nav-items {
	float: right;
}

.nav-item {
	float: left;
}

.search-field {
	@extend %horizontal-align;
	display: inline-block;
	width: 250px;
}

.error-container {
	@extend %horizontal-align;
}

input.search-input {
	height: calc(100% * 2/3);
	padding-left: 2rem;
	transition: all 3s;

	&.invalid {
		transition: none;
	}

	& + label {
		left: 0;
		color: #9e9e9e;
  		position: absolute;
  		top: -.25rem;

  		& i {
  			font-size: 1.75rem;
  			@include transition(color .3s);
  		}

  		&.active i {
  			color: $primary-color-light;
  		}
  	}
}

.log-in-form {
	display: inline-block;

	input {
		height: auto;
		width: 125px;
	}
}

.login-section {
	float: left;
	display: inline-block;
}

.form-button {
	padding: 0 30px;
	color: $primary-color;
}

.wordrow {
	@extend .row;
	margin-bottom: 0;

	&:last-of-type {
		.userword {
			border-bottom: none;
		}
	}
}

.wordlist-container {
	margin: 0.5rem 0 1rem 0;
}

.wordlist-header {
	margin-left: 4%;
	font-size: .9rem;
	color: darken(#FAFAFA, 35%);
}

.wordlist {

	&.collapsible {
		margin-top: .6rem;
	}

}

.wordListed {
	overflow: hidden;
	border-bottom: 1px solid lightgray;
	cursor: pointer;
}

.row .wordListed {
	padding: 7px;
}

.search-result {
	@extend %horizontal-align;

	.card-title {
		@extend .grey-text, .text-darken-4;
		font-size: 3rem;
	}

	.card-action a {
		color: $primary-color-dark;
		font-weight: 600;

		&:hover, &:active {
			color: $primary-color-light
		}
	}
}

.words-link {
	position: relative;

	&:before {
		content: attr(data-wordcount);
		font-size: .75rem;
		font-weight: 200;
		position: absolute;
		left: -1rem;
	}
}


.word-expanded {
	background-color: white;
}

.wordtitle {
	@extend .grey-text, .text-darken-4;
	min-width: 150px;
	float: left;
	display: block;
	margin-right: 20px;
	text-align: center;
}

.word-circle {
	display: block;
	float: left;
	height: 22px;
	width: 22px;
	border-radius: 50%;
	font-size: 10px;
	line-height: 22px;
	text-align: center;
	background-color: #294F8A;;
	color: white;
}

.worddefinition {
	margin-left: 50px;
	float: left;
	font-size: 12px;
}

