@import '../bower_components/materialize/sass/materialize.scss';

body {
	color: lightgray;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.userword {
	margin: 5px 0;
	overflow: hidden;
}

.row .userword {
	padding: 0;
}

.wordtitle {
	@extend .z-depth-1, .cyan, .darken-3;
	color: white;
	float: left;
	display: block;
	margin-right: 20px;
	text-align: center;

}

.worddefinition {
	float: left;
}